<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @screen.name %>
</p>

<p>
  <strong>Interval:</strong>
  <%= @screen.interval %>
</p>

<p>
  <strong>User:</strong>
  <%= @screen.user %>
</p>

<p>
  <strong>Images:</strong>
  <% @screen.images.each do |image| %>
      <%= image_tag image.url %>
  <% end %>
</p>

<%= link_to 'Edit', edit_screen_path(@screen) %> |
<%= link_to 'Back', screens_path %>
